.links{
  font-family: Arial
  color: black
  float: right;
  margin: 0 0 1000px 1000px
}

a:link {
  color: gray
}
a:hover{
  color: gray
}
a:active{
  color: gray
}
form {
text-align: center;
margin: 0 auto;
width: 400px
height: 300px
}
#buttons {
height:22;
width:250px;
margin:auto;
display:block;
color: gray
}


.wrapper{text-align: center;}
.footer{
  text-align: right;
font-family: helvetica}
